<div *ngFor="let post of postItems; let i = index " class="row inicio-container">
  <div class="col-sm-16" id="post-{{post.post_id}}">
    <div class="card">
      <div class="card-header align-items-start justify-content-between flex">
        <div class="list-unstyled comment-list">
          <div class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image"> </span>
            <div class="media-body">
              <h6 class="mt-0 mb-1"><a href="javascript:void(0)">{{post.full_name}}</a> compartió <a href="javascript:void(0)"> una publicación</a></h6>
              {{post.created_at}}
            </div>
            <ul class="nav  card-header-pills pull-right">
              <li class="nav-item">
                <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                <div class="dropdown-menu">
                  <ng-container *ngIf="created_by == usuarioId">
                    <a class="dropdown-item" (click)="cargarFormularioEditar(post)">Editar</a>
                    <a class="dropdown-item" (click)="eliminarElementos(i,'post',post.post_id,null)">Eliminar </a>
                    <div class="dropdown-divider"></div>
                  </ng-container>
                  <a class="dropdown-item" href="javascript:void(0)">Reportar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div [innerHTML]="post.post_content"></div>
        <div class="row" *ngIf="post.imagenes !== undefined  && post.imagenes !== null && post.imagenes.length" >
          <div class="gallery-img-container">
            <ng-container *ngFor="let photo of post.imagenes">
              <a data-fancybox="gallery" [href]="photo.big"><img [src]="photo.small"></a>
            </ng-container>
          </div>
        </div>
        <div class="col post-options" >
          <form class="form_clasificacion" >
            <p class="clasificacion" >
              <ng-container *ngFor="let value of [5,4,3,2,1]; let c = index" >
                <input id="post_{{post.post_id}}_radio_{{value}}" type="radio" name="estrellas_{{value}}" value="{{value}}" [checked]="post.like >= value  ? 'checked' : ''" (click)="calificarElemento( post.post_id,i,'post', 0,value)">
                <label for="post_{{post.post_id}}_radio_{{value}}">★</label>
              </ng-container>
            </p>
          </form><span class="text-white">({{ null !== post.prom ? post.prom : '0' }}/5)</span>
          <!-- boton me gusta -->
          <button class="btn btn-link mr-2"><i class="fa fa-comments text-white"></i> <span class="text-white">Comentarios: {{ undefined !== post.comments ? post.comments.length : '0' }}</span></button>
          <!-- <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i> <span class="text">Compartir</span> <span class="text-white">(0)</span></button> -->
        </div>

        <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° COMENTARIOS °°°°°°°°°°°°°°°°°°°°°°°°°° -->
        <div class="list-unstyled comment-list">
          <ng-container *ngFor="let comment of post.comments;let j = index">
            <div class="media">
              <span class="message_userpic">
                <img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image">
              </span>
              <div class="media-body">
                <h6 class="mt-0 mb-1">{{comment.full_name}}
                  <small>{{comment.created_at}}</small>
                </h6>
                <textarea *ngIf="post.comments[j].ModoEditar == true"    class="form-control" id="comment_txt_{{comment.id_comment}}"
                (keyup.esc)="post.comments[j].ModoEditar = false"
                (keydown.enter) = "$event.stopPropagation(); guardarEdicionComentario(comment.id_comment,j,i)"
                (blur)="post.comments[j].ModoEditar = false" >{{comment.content}}</textarea>
                <p *ngIf="post.comments[j].ModoEditar !== true" id="comment_{{comment.id_comment}}" class="description" >{{ checkVerMas(post.comments[j].verMas , comment.content ) ?  comment.content.substring(1, 200) + '...' : comment.content }}<a class="btn btn-link" *ngIf="checkVerMas(post.comments[j].verMas , comment.content ) " (click)="post.comments[j].verMas = !post.comments[j].verMas" >Leer más</a>
                  <a class="btn btn-link" *ngIf="post.comments[j].verMas" (click)="post.comments[j].verMas = !post.comments[j].verMas" >Ver menos</a>
                </p>
                <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° Opciones Comentarios °°°°°°°°°°°°°°°°°°°°°°°°°° -->
                <span *ngIf="post.comments[j].ModoEditar !== true" >
                  <button class="btn btn-outline-primary btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>({{ comment.prom == null  ? '0' : comment.prom   }}/5)</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item comentario-estrellas-container">
                      <form class="form_clasificacion pull-right">
                        <p class="clasificacion">
                          <ng-container *ngFor="let value of [5,4,3,2,1]; let c = index" >
                            <input id="comment_{{comment.id_comment}}_radio_{{value}}" type="radio" name="estrellas_{{value}}" value="{{value}}" [checked]="comment.like >= value  ? 'checked' : ''" (click)="calificarElemento( comment.id_comment,i, 'comment',j, value)">
                            <label for="comment_{{comment.id_comment}}_radio_{{value}}">★</label>
                          </ng-container>
                        </p>
                      </form>
                    </a>
                  </div>
                </span>
                <span *ngIf="post.comments[j].ModoEditar !== true" >
                  <button class="btn btn-outline-primary btn-round" (click)="responderComentario(post,comment)"><i class="fa fa-replay"></i>Responder</button>
                </span>
                <span *ngIf="post.comments[j].ModoEditar !== true" >
                  <button class="btn btn-outline-primary btn-round opciones-comentario" data-toggle="dropdown">Más...</button>
                  <div class="dropdown-menu" *ngIf="post.comments[j].ModoEditar !== true" >
                    <ng-container *ngIf="comment.created_by == usuarioId">
                      <a class="dropdown-item" (click)="post.comments[j].ModoEditar = ! post.comments[j].ModoEditar;  setFocus('comment_txt_'+comment.id_comment) "> Editar</a>
                      <a class="dropdown-item" (click)="eliminarElementos(i,'comment',comment.id_comment,j)">Eliminar </a>
                      <div class="dropdown-divider"></div>
                    </ng-container>
                    <a class="dropdown-item" href="javascript:void(0)">Reportar</a>
                  </div>
                </span>
                <!-- estrellas para comentarios-->
              </div>
            </div>
            <ng-container *ngFor="let response of comment.responses;let k = index">
              <div class="media response_comment">
                <span class="message_userpic">
                  <img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image">
                </span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">{{response.full_name}}
                    <small>{{response.create_at}}</small>
                  </h6>
                  <p id="response_{{response.id_comment}}" class="description" >{{response.content}}</p>
                </div>
              </div>
            </ng-container>
            <hr>
          </ng-container>
          <div class="media comment"> <span class="message_userpic"><img class="d-flex mr-3" src="{{imagenPerfil}}" alt="Generic user image"> </span>
            <div class="media-body">
              <input type="text" name="comment_{{post.post_id}}" id="comment_txt_{{post.post_id}}" class="form-control" placeholder="Escribe un comentario">
            </div>
            <button class="btn btn-primary" (click)="comentar( 'comment_txt_' + post.post_id , 'comment' , post, i)">Comentar</button>
          </div>
        </div>
        <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° COMENTARIOS °°°°°°°°°°°°°°°°°°°°°°°°°° -->
      </div>
      <div class="card-footer text-center"> <a class="btn btn-primary" href="javascript:void(0)">Ver mas comentarios</a> </div>
    </div>
  </div>
</div>
