<div  *ngIf="!rechazada"   class="media flex-column" (click)="verMuro()" >
    <span  class="message_userpic medium"><img class="d-flex mr-3" src="{{imagenPerfil}}" alt="Generic user image"></span>
    <div class=" profile-name" >
        <p>{{nombre}}</p> 
        <!-- IS NOT MY FRIEND -->
        <button  *ngIf="(agregar && !solicitudEnviada)"  class="btn btn-success btn-sm" (click)="enviarSolicitud($event)"><i class="fa fa-plus"></i> Agregar</button> 
        <!-- SOLICITUD YA HA SIDO ENVIADA  -->
        <button  *ngIf="solicitudEnviada"  class="btn btn-success btn-sm"><i class="fa fa-check"></i> Solicitud Enviada</button> 
        <!-- SOLICITUD DE AMISTAD -->
        <div *ngIf="(esSolicitud && !solicitudAceptada)"  class="btn-group-sm" role="group" aria-label="...">
            <button class="btn btn-success mr-2" (click)="aceptarSolicitud($event)"  >Aceptar</button> 
            <button class="btn btn-danger"  (click)="rechazarSolicitud($event)" >Eliminar</button> 
        </div>
    </div>
</div> 

