<nav class="navbar navbar-toggleable-md navbar-inverse bg-faded">
  <div class="sidebar-left" >
    <button (click)="toggleSideBar()" class="btn btn-link icon-header mr-sm-2 pull-left menu-collapse"><span class="fa fa-bars"></span></button>
  </div>
  <div class="d-flex mr-auto"> &nbsp;</div>
  <ul class="navbar-nav content-right">
    <!-- <li class="nav-item ">
      <button class="btn btn-link icon-header " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-envelope-o"></span> <span class="badge-number bg-success"></span></button>
      <div class="dropdown-menu message-container">
        <div class="list-unstyled">
          <a href="javascript:void(0)" class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image"></span>
            <div class="media-body">
              <h6 class="mt-0 mb-1">Mensaje Nuevos</h6>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            </div>
          </a>
        </div>
      </div>
    </li> -->
    <li class="nav-item">
      <button class="btn btn-link icon-header badgeCircle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-bell-o"></span>
        <span class="badge-number bg-danger" *ngIf="notificationsItems.length > 0"></span>
      </button>
      <div class="dropdown-menu message-container" *ngIf="notificationsItems.length > 0">
        <div class="list-unstyled">
          <ng-container *ngFor="let notification of notificationsItems" >
            <div class="media notification-container" [routerLink]="['/'+ notification.Link]"  >
              <div class="media-body" >
                <p>{{notification.Text}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </li>
  </ul>
  <div class="sidebar-right pull-right ">
    <ul class="navbar-nav  justify-content-end">
      <li class="nav-item">
        <button class="btn-link btn userprofile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="userpic"><img src="{{imagenPerfil}}" alt="Foto de Perfil"></span>
          <span class="text">{{nombre}} <i class="fa fa-angle-down "></i></span></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" [ngClass]="getClass('profile_dropdown')" (click)="cambiarMenu('profile_dropdown')" [routerLink]="['/dashboard/'+getUsrId()]">Perfil</a>
            <a class="dropdown-item" [ngClass]="getClass('config')" (click)="cambiarMenu('config')" [routerLink]="['/config/']">Configuración</a>
            <a class="dropdown-item" (click)="logOut()">Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
