<h1 mat-dialog-title>Responder Comentario</h1>
<div mat-dialog-content>
  <div class="mdc-form-field">
    <textarea [(ngModel)]="content"></textarea>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarModal()" class="btn_modal_cancel">Cancelar</button>
  <button mat-button (click)="guardarComentario()" cdkFocusInitial class="btn_modal_submit">Responder</button>
</div>