<div class="container">
  <div class="row  align-items-center justify-content-between">
    <div class="col-11 col-sm-12 page-title">
      <h3>Amigos</h3>
      <p>0 amigos </p>
    </div>
  </div>
  <div class="card full-screen-container">
  <div class="card-header">
    <div class="row  align-items-center p-2">
      <div *ngFor="let friend of [1,2,3,4]" class="row">
            <figure class="social-profile-pic" ><img src="assets/img/team.png" alt=""></figure>
            <div class="col-sm-16 -4  profile-name">

          <p>{{friend.full_name}}</p>
          <button class="btn btn-success ">+ Agregar amigo</button>
        </div>

          </div>
          </div>
        </div>
      </div>
