<div class="card full-screen-container mb-5 config-container">
  <div class="card-header">
    <h5 class="card-title  pull-left">Crear Grupo</h5>
  </div>
  <div class="card-block">
    <div class="card">
      <div class="card-block text-white">
        <div class="container text-center">
          <form class="form-signin1 smallbox" id="frm_register" ng-submit="submitHandler($event)">
            <figure class="user-login circle text-center" >
              <img src="assets/img/guest.png" alt="unlock" />
            </figure>
            <input type="hidden" name="Group[createdBy]" value={{userId}} />
            <div class="form-group row" >
              <input type="text" id="user-full_name" class="form-control" name="Group[nameGroup]" placeholder="Nombre del grupo" maxlength="125" />
            </div>
            <!-- programar despues
             <p>Añade algunas personas</p>
            <div *ngFor="let friend of [1,2,3,4];let a = index" >

               <figure class="social-profile-pic" ><img src="assets/img/team.png" alt=""></figure>
               <div class="col-sm-16 -4  profile-name">

                 <p>{{friend.friendUsername}}</p>
                 <button class="btn btn-success " (click)="eliminarAmigo(friend.idFriend,a)">- Añadir</button>

               </div>
             </div>
             <-->
            <!--agrege el (click)crear-->
            <div class="form-group row">
              <input type="submit" class="btn btn-outline-success"  value="Crear" >
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
