<h1 mat-dialog-title>Editar Publicación</h1>
<div mat-dialog-content>
  <div class="mdc-form-field">
    <textarea [(ngModel)]="postContent" [innerHTML]="postContent"></textarea>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cerrarModal()" class="btn_modal_cancel">Cancelar</button>
  <button mat-button (click)="guardarPublicacion()" cdkFocusInitial class="btn_modal_submit">Guardar</button>
</div>