<div class="media flex-column">
    <span (click)="verMuro()" class="message_userpic medium"><img class="d-flex mr-3" src="{{fotoPerfil}}" alt="Generic user image"></span>
    <div class=" profile-name" >
        <p>{{nombre}}</p>
        <div *ngIf="(esSolicitud && !solicitudAceptada)"  class="btn-group" role="group" aria-label="...">
            <button class="btn btn-success" (click)="aceptarSolicitud()">Aceptar</button>
            <button class="btn btn-danger"  (click)="rechazarSolicitud()">Eliminar</button>
        </div>
    </div>
</div>

