<a
    (click)="verMuro()"

    class="media flex-column">
     <span class="message_userpic medium">
     <img class="d-flex mr-3" src="{{foto}}" alt="Generic user image"> </span>
        <div class="media-body" >
           <!-- <p class=" description mt-0 mb-0 text-white truncate">{{nombre}}</p> -->
        </div>
        <div class=" profile-name" >
                <p>{{nombre}}</p>
                
                 <!-- IS NOT MY FRIEND -->
                <button  *ngIf="(agregar && !solicitudEnviada)"  class="btn btn-success btn-sm" (click)="unirseGrupo($event)">Unirse al Grupo</button>

                <!-- SOLICITUD YA HA SIDO ENVIADA  -->
                <button  *ngIf="solicitudEnviada"  class="btn btn-success btn-sm" (click)="preguntarCancelar()" >Solicitud Enviada</button>

                <!-- SOLICITUD DE AMISTAD -->
                <div *ngIf="(esSolicitud && !solicitudAceptada)"  class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button class="btn btn-success" (click)="aceptarSolicitud()"  >Aceptar</button>
                    <button class="btn btn-danger"  (click)="cancelarSolicitud()" >Eliminar</button>
                </div>


               <!-- cuando la solicitud ya es aceptada  -->
               <button  *ngIf="(esSolicitud && solicitudAceptada)"  class="btn btn-success btn-sm" >Ahora estas en el grupo {{nombre}}  </button>


        </div>
</a>

