<div class="wrapper-content-sign-in ">
  <div class="container text-center"  >
    <form class="form-signin1 smallbox" id="frm_register" ng-submit="submitHandler($event)">
      <input type="hidden" id="groupuser-group_id" class="form-control" name="GroupUser[group_id]" value="2" />
       <figure class="logoGallos text-center">
        <img src="assets/img/logoGallos.png" alt="unlock" />
      </figure>
      <div class="notes notes-danger" *ngIf="loginError" > <strong>Lo sentimos</strong> {{loginAlert}} </div>
      <div class="form-group row" >
        <input type="text" id="user-full_name" class="form-control" name="User[full_name]" placeholder="Nombre Completo" maxlength="125" />
      </div>
      <div class="form-group row" >
        <input type="text" id="user-username" class="form-control" name="User[username]" placeholder="Correo"  maxlength="45" />
      </div>
      <div class="form-group row">
        <input type="password" id="user-newpassword" class="form-control" name="User[password]" aria-required="true" placeholder="Password"  maxlength="45" />
      </div>
      <div class="form-group row text-center">
       <select type="text" id="user-country"  class="form-control" name="User[country]"  placeholder="Seleciona tu país" [(ngModel)]="userCountry" >
        <option >Seleciona tu País</option>
        <option *ngFor="let country of countries; let i = index" [value]="country.cc_iso" >{{country.country_name}}</option>
      </select>
    </div>
    <div class="form-group row text-center" *ngIf="userCountry !== ''">
      <input type="text" id="user-city" class="form-control" name="User[city]" placeholder="Ciudad"  maxlength="45" />
    </div>
    <div class="form-group row">
      <input type="submit" class="btn btn-outline-success" value="Registrarme" >
    </div>
    <p class="mt-3" ><a  routerLink="/login" class="text-white">Ya tengo cuenta, Iniciar sesión.</a></p>
  </form>
</div>
</div>
