
<!--<figure class="background"> <img src="assets/img/rooster.jpg" alt="Adminux- sign in " > </figure> -->
<header class="navbar-fixed">
</header>
<div class="wrapper-content ">
  <div class="container text-center">
    <form class="form-signin1" >
      <figure class="logoGallos text-center">
        <img src="assets/img/logoGallos.png" alt="unlock" />
      </figure>
      <div class="form-group" >
        <a  class="btn btn btn-outline-danger" routerLink="/register"  >Soy nuevo</a><br>

      </div>
      <div class="form-group" >
      <label class="sr-only"></label>

      <a  class="btn btn btn-outline-success"  routerLink="/login"  >Ya tengo cuenta</a><br>
      </div>
    </form>
  </div>

</div>
