<div class="row  align-items-end  social-profile-cover">
  <figure class="background" [ngStyle]="{'background-image':'url(' + imagenPortada + ')','background-size': 'cover','background-position': 'center'}"></figure>
  <div class="container mb-2">
    <div class="row  align-items-center justify-content-between p-2">
      <figure class="social-profile-pic">
        <img src="{{imagenPerfil}}" alt="">
        <a *ngIf="isOwner()" type="button" class="btn btn-primary btn-edit-profile-pic" href="/config" >Editar</a>
      </figure>
      <div class="col-sm-16 profile-name">
        <h2>{{nombre}}</h2>
        <p>{{country}}</p>
      </div>
      <div class="col-16 col-sm-16 text-right flex-row ">
        <button *ngIf="agregarAmigo == 0" class="btn btn-success" (click)="enviarSolicitud()"><i class="fa fa-plus"></i> Agregar Amigo</button>
        <button *ngIf="agregarAmigo == 1" class="btn btn-success"><i class="fa fa-check"></i> Amigos</button>
        <button *ngIf="agregarAmigo == 2" class="btn btn-success"><i class="fa fa-check"></i> Solicitud Enviada</button>
      </div>
    </div>
  </div>
</div>

<div class="modal dark_bg fade" id="modal-edit-profile-pic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

<div class="modal-dialog" >
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New message</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <figure class="social-profile-pic">
            <img src="{{imagenPerfil}}" alt="">
            <a type="button" class="btn btn-primary btn-edit-profile-pic">Editar</a>
          </figure>
        </div>
        <div class="form-group">
          <label for="message-text" class="form-control-label">Message:</label>
          <textarea class="form-control" id="message-text"></textarea>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Send message</button>
    </div>
  </div>
</div>
</div>
