
<div class="card full-screen-container sugerencias-grupos-container">
  <div class="card-header align-items-start justify-content-between flex">
    <h5 class="card-title  pull-left">Sugerencias de grupos</h5>
  </div>
  <div class="card-block">
    <div  class="list-unstyled member-list row" >
     <div *ngFor="let grupo of gruposItems; let f = index"
      app-tarjeta-grupo
      class="col-lg-4 col-sm-4 col-xs-16"
      [idGrupo] = "grupo.idGroup"
      [nombre] = "grupo.nameGroup"
      [foto] = "grupo.profile_photo"
      [solicitudEnviada] = "grupo.aceptada == 0"
      [agregar] = "true"
     >
   </div>
 </div>
</div>
</div>
