<div class="card full-screen-container mb-5 config-container">
  <div class="card-header">
    <h5 class="card-title  pull-left">Configuración</h5>
  </div>
  <div class="card-block">
    <div class="card">
      <div class="card-header">
        <p class="mb-0">Editar Perfil</p>
      </div>
      <div class="card-block text-white">
        <div class="container text-center">
          <form id="frm_config" ng-submit="submitHandler($event)">
            <input type="hidden" id="groupuser-group_id" class="form-control" name="GroupUser[group_id]" value="2" />
            <div class="notes notes-danger" *ngIf="loginError" > <strong>Lo sentimos</strong> {{loginAlert}} </div>
            <div class="form-group row" >
              <input type="text" id="user-full_name"
              class="form-control"
              name="User[full_name]"
              placeholder="Nombre Completo"
              maxlength="125"
              value="{{nombre}}"/>
            </div>
            <div class="form-group row" >
              <input type="text"
              id="user-username"
              class="form-control"
              name="User[username]"
              placeholder="Correo"
              maxlength="45"
              autocomplete="username"
              value="{{correo}}" />
            </div>
            <div class="form-group row">
              <input
              type="password"
              id="user-newpassword"
              class="form-control"
              name="User[password]"
              placeholder="Contraseña"
              maxlength="45"
              autocomplete="current-password" />
            </div>
            <div class="form-group row text-center">
              <select type="text" id="user-country"  class="form-control" name="country">
                <option value="">Selecciona un país...</option>
                <option *ngFor="let country of countries" [value]="country.cc_iso" [selected]="selectCountry(country.cc_iso)">{{country.country_name}}</option>
              </select>
            </div>
            <div class="form-group row text-center" >
              <input type="text" id="user-city"  class="form-control" name="city" placeholder="Ciudad / Localidad" value="{{city}}">
            </div>
            <div class="form-group row">
              <div class="upload-btn-wrapper">
                <input type="hidden" name="profile_img" value="{{nameProfile}}">
                <input type="file" ngFileSelect (uploadOutput)="onUploadProfileImage($event)" [uploadInput]="uploadInput">
                <button class="btn btn-default mr-2"><i class="fa fa-picture-o"></i>Cambiar Foto de Perfil</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="upload-btn-wrapper">
                <input type="hidden" name="cover_img" value="{{nameCover}}">
                <input type="file" ngFileSelect (uploadOutput)="onUploadCoverImage($event)" [uploadInput]="uploadInput">
                <button class="btn btn-default mr-2"><i class="fa fa-picture-o"></i>Cambiar Foto de Portada</button>
              </div>
            </div>
            <div class="form-group row">
              <input type="submit" class="btn btn-outline-success" value="Guardar" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
