<div class="buscar-amigos-container">
  <div class="card full-screen-container ">
    <div class="card-header align-items-start justify-content-between flex">
    <h5 class="card-title  pull-left">Solicitudes de amistad</h5>


    </div>
    <div class="card-block">
      <div  class="list-unstyled member-list row" >
        <div *ngFor="let amigo of solicitudesAmigos; let f = index"
             app-tarjeta-amigo
             class="col-lg-4 col-sm-4 col-xs-16" 
             [idUsuario] = "amigo.idUsuario"
             [idSolicitud]="amigo.idSolicitud"  
             [nombre] = "amigo.nombre" 
             [esSolicitud]= "true"
          >
          </div>
      </div>
    </div>


</div>
<div class="card full-screen-container ">
    <div class="card-header align-items-start justify-content-between flex">
    <h5 class="card-title  pull-left">Sugerencias de amigos</h5>


    </div>
    <div class="card-block">
      <div  class="list-unstyled member-list row" >
         <div *ngFor="let amigo of addFriendItems; let f = index"
              app-tarjeta-amigo
              class="col-lg-4 col-sm-4 col-xs-16" 
              [idUsuario] = "amigo.usr_id"  
             [nombre] = "amigo.full_name" 
             [solicitudEnviada] = "amigo.aceptada == 0" 
              [agregar] = "true"
           >
           </div>
      </div>
    </div>
</div> 
</div>