<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <form class="form-signin1 smallbox" id="frm_invite" ng-submit="submitHandler($event)" >
    <figure class="logoGallos text-center">
        <img src="assets/img/logoGallos.png" alt="unlock" />
      </figure>
      <div class="notes notes-danger" *ngIf="loginError" > <strong>Lo sentimos</strong> {{loginAlert}} </div>
      <div class="form-group row" >
        <input type="email" id="register-email" class="form-control" name="Invite[email]" placeholder="Email" aria-label="Email" aria-required="true" aria-invalid="true">
        <input type="hidden" name="_csrf" value="l8xhPhzpLfnMpWKAQrl1bRiZIwghi2OzvlJq0kU5j-qn2kXA0X9IOdkXS5TYgRss_pDNn36bAPVSd-edHm07mA==">
      </div>
      <div class="form-group row">
        <input type="submit" class="btn btn btn-outline-success" value="Siguiente" >
      </div>
    </form>
    <br>
  </div>



