<div class="card full-screen-container mb-5 config-container">
  <div class="card-header">
    <h5 class="card-title  pull-left">Editar Perfil del Grupo</h5>
  </div>
  <div class="card-block">
    <div class="card">
      <div class="card-block text-white">
        <div class="container text-center">
          <form id="frm_configGroup" ng-submit="submitHandler($event)">
            <input type="hidden" name="idGroup" value="{{idGroup}}" />
            <div class="notes notes-danger" *ngIf="loginError" > <strong>Lo sentimos</strong> {{loginAlert}} </div>
            <div class="form-group row" >
              <input type="text" id="group-name"
                     class="form-control"
                     name="nameGroup"
                     placeholder="Nombre del Grupo"
                     maxlength="125"
                     value="{{nameGroup}}"/>
            </div>
            <div class="form-group row">
              <div class="upload-btn-wrapper">
                <input type="hidden" name="profile_img" value="{{nameProfile}}">
                <input type="file" ngFileSelect (uploadOutput)="onUploadProfileImage($event)" [uploadInput]="uploadInput">
                <button class="btn btn-default mr-2"><i class="fa fa-picture-o"></i>Cambiar Foto de Perfil</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="upload-btn-wrapper">
                <input type="hidden" name="cover_img" value="{{nameCover}}">
                <input type="file" ngFileSelect (uploadOutput)="onUploadCoverImage($event)" [uploadInput]="uploadInput">
                <button class="btn btn-default mr-2"><i class="fa fa-picture-o"></i>Cambiar Foto de Portada</button>
              </div>
            </div>
            <div class="form-group row">
              <input type="submit" class="btn btn-outline-success" value="Guardar" >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
