<!--<figure class="background"> <img src="assets/img/login_bg.jpg" alt="Adminux- sign in "> </figure> -->
<div class="wrapper-content-sign-in ">
  <div class="container text-center">
    <form class="form-signin1 smallbox" id="frm_login" ng-submit="submitHandler($event)">
      <figure class="logoGallos text-center">
        <img src="assets/img/logoGallos.png" alt="unlock" />
      </figure>
      <div class="notes notes-danger" *ngIf="loginError" > <strong>Lo sentimos</strong> {{loginAlert}} </div>
      <div class="form-group row">
        <input placeholder="Correo " type="text" class="form-control" name="username" id="loginform_username" value="{{savedUser}}" autocomplete="username">
      </div>
      <div class="form-group row" >
        <input type="password" class="form-control" placeholder="Contraseña" name="password" id="loginform_password" value="{{savedPass}}" autocomplete="current-password">
      </div>
      <div class="form-group row">
        <label>
          <input type="checkbox" id="loginform_rememberme" name="rememberMe" value="1" checked="" class="regular-checkbox" > Recordar
          <div class="regular-checkbox-box" ></div>
        </label>
      </div>
      <div class="form-group row" >
        <input type="submit" class="btn btn btn-outline-success" value="Iniciar Sesion" >
      </div>
      <p class="mt-3"><a  class="text-white">¿Olvidaste tu contraseña? </a></p>
      <p class="mt-3"><a  routerLink="/register" class="text-white">No tengo Cuenta, Registrarme </a></p>
    </form>
    <br>
  </div>
  <!--

  <footer class="footer-content row  justify-content-between align-items-center">
    <div class="col-sm-8">This template is designed by <a href="www.galloreal.com" target="_blank" class="">www.galloreal.com</a></div>
    <div class="col-sm-8 text-right"><a href="javascript:void(0)" target="_blank" class="text-white">Privacy Policy</a> | <a href="javascript:void(0)" target="_blank" class="text-white">Terms of use</a> </div>
  </footer>
  -->
