<!--<div class="card full-screen-container ">
          <div class="card-header align-items-start justify-content-between flex">
          	<h5 class="card-title  pull-left">Friends <strong>(754) </strong> <small><a href="">View all</a></small></h5>
            	<span class="pull-right">
            		<button  [routerLink]="['/buscaramigos/']" class="btn btn-success  ml-1">Gestionar miembros</button></span>
          </div>
          <div class="card-block">
            <div  class="list-unstyled member-list row" >
           		<div 
           		    *ngFor="let miembro of miembrosItems; let f = index"
           			 app-tarjeta-amigo
           			 class="col-lg-4 col-sm-4 col-xs-16" 
                 [idUsuario] = "miembro.idFriend"  
           			 [nombre] = "miembro.full_name"  
           			 [agregar] = "false"
           			 >
           		</div>
            </div>
          </div>
</div> -->