<div class="dashboard-container">
  <div class="row  align-items-end  social-profile-cover">
    <figure class="background" [ngStyle]="{'background-image':'url(' + coverGroup + ')','background-size': 'cover','background-position': 'center'}"></figure>
    <div class="container mb-2">
      <div class="row  align-items-center justify-content-between p-2">
        <figure class="social-profile-pic">
          <img src="{{profileGroup}}" alt="">
          <a type="button" class="btn btn-primary btn-edit-profile-pic" [routerLink]="['/configGrupo/'+idGroup]">Editar</a>
        </figure>
        <div class="col-sm-16 profile-name">
          <h2>{{nameGroup}}</h2>
        </div>
        <div class="col-16 col-sm-16 text-right flex-row ">
          <button *ngIf="unirseGrupo == 0" class="btn btn-success" (click)="enviarSolicitud()"><i class="fa fa-plus"></i> Unirse al Grupo</button>
          <button *ngIf="unirseGrupo == 1" class="btn btn-success"><i class="fa fa-check"></i> Administrador</button>
          <button *ngIf="unirseGrupo == 2" class="btn btn-success"><i class="fa fa-check"></i> Miembro</button>
          <button *ngIf="unirseGrupo == 3" class="btn btn-success"><i class="fa fa-check"></i> Solicitud Enviada</button>
        </div>
      </div>
    </div>
  </div>

  <div class="group-row">
    <div class="columna">
      <div *ngIf="adminGrupo" class="card full-screen-container solicitudes-container">
        <div class="card-header align-items-start justify-content-between flex">
          <h5 class="card-title  pull-left">Solicitudes <strong>({{numberRequests}})</strong></h5>
        </div>
        <div class="card-block">
          <div  class="list-unstyled member-list row" >
            <div
            *ngFor="let solicitud of solicitudesItems; let f = index"
            app-tarjeta-miembros
            class="col-lg-6 col-sm-6 col-xs-12"
            [idUsuario] = "solicitud.idUser"
            [idSolicitud]="solicitud.idSolicitud"
            [nombre] = "solicitud.full_name"
            [fotoPerfil] = "solicitud.profile_photo"
            [esSolicitud]= "true"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="columna">
      <div class="card full-screen-container amigos-container">
        <div class="card-header align-items-start justify-content-between flex">
          <h5 class="card-title  pull-left">Miembros <strong>({{numberMembers}})</strong></h5>
        </div>
        <div class="card-block">
          <div  class="list-unstyled member-list row" >
            <div
            *ngFor="let miembro of miembrosItems; let f = index"
            app-tarjeta-miembros
            class="col-lg-5 col-sm-5 col-xs-12"
            [idUsuario] = "miembro.idFriend"
            [nombre] = "miembro.full_name"
            [fotoPerfil] = "miembro.profile_photo"
            [agregar] = "false"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row wall-container">
    <div class="col-sm-16">
      <div class="card full-screen-contianer drop-container"  ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }" >
        <div class="card-block p-0">
          <div class="list-unstyled comment-list p-0">
            <div class="media comment"> <span class="message_userpic"><img class="d-flex mr-3" src="{{imagenPerfil}}" alt="Foto de Perfil"></span>
              <div class="media-body">
                <textarea rows="2" id="publicacion_txt" class="form-control" placeholder="Escribe una nueva publicación..." ref-textarea (keyup)="ChangeDetectorRef.detectChanges()" ></textarea>
                <div class="row"  class="precargaImagenes" >
                  <div *ngFor="let imagen of imgsTempNuevoPost; let j = index" class="marcoImagen" >
                    <img [hidden]="!imagen.ocultarCargando"   (load)="imagen.ocultarCargando = true" src="{{src_imgMiniatura(imagen)}}" alt="" >
                    <img [hidden]="imagen.ocultarCargando" src="assets/img/loading.gif" class="loading-thumb" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer justify-content-between d-flex">
          <ul class="nav pull-left">
            <li class="nav-item pr-2">{{textarea.value.trim().length === null ? '0': textarea.value.trim().length }} caracteres</li>
            <li class="nav-item">
              <div class="upload-btn-wrapper">
                <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
                <button class="btn btn-default mr-2"><i class="fa fa-picture-o"></i><span class="text">Subir Fotos</span></button>
              </div>
            </li>
            <li class="nav-item" >
              <button class="btn btn-default mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe "></i> <span class="text">Privacidad <i class="fa fa-angle-down "></i></span></button>
              <div class="dropdown-menu with-arrow text-center">
                <a class="dropdown-item" href="javascript:void(0)">Público</a>
                <a class="dropdown-item" href="javascript:void(0)">Solo mi grupo</a>
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" [attr.disabled]="textarea.value.trim().length < 3 && imgsTempNuevoPost.length < 0 ? 'disabled' : null " (click)="publicar(textarea.value)">Publicar</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let post of postItems; let i = index " class="row posts-container">
    <div class="col-sm-16" id="post-{{post.post_id}}">
      <div class="card">
        <div class="card-header align-items-start justify-content-between flex">
          <div class="list-unstyled comment-list">
            <div class="media"> <span class="message_userpic"><img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image"> </span>
              <div class="media-body">
                <h6 class="mt-0 mb-1"><a href="javascript:void(0)">{{post.full_name}}</a> compartió <a href="javascript:void(0)"> una publicación</a></h6>
                {{post.created_at}}
              </div>
              <ul class="nav  card-header-pills pull-right">
                <li class="nav-item">
                  <button class="btn btn-sm btn-link btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                  <div class="dropdown-menu">
                    <ng-container *ngIf="created_by == usuarioId">
                      <a class="dropdown-item" (click)="cargarFormularioEditar(post)">Editar</a>
                      <a class="dropdown-item" (click)="eliminarElementos(i,'post',post.post_id,null)">Eliminar </a>
                      <div class="dropdown-divider"></div>
                    </ng-container>
                    <a class="dropdown-item" href="javascript:void(0)">Reportar</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div [innerHTML]="post.post_content"></div>
          <div class="row" *ngIf="post.imagenes !== undefined  && post.imagenes !== null && post.imagenes.length" >
            <div class="gallery-img-container">
              <ng-container *ngFor="let photo of post.imagenes">
                <a data-fancybox="gallery" [href]="photo.big"><img [src]="photo.small"></a>
              </ng-container>
            </div>
          </div>
          <div class="col post-options">
            <form class="form_clasificacion" >
              <p class="clasificacion" >
                <ng-container *ngFor="let value of [5,4,3,2,1]; let c = index" >
                  <input id="post_{{post.post_id}}_radio_{{value}}" type="radio" name="estrellas_{{value}}" value="{{value}}" [checked]="post.like >= value  ? 'checked' : ''" (click)="calificarElemento( post.post_id,i,'post', 0,value)">
                  <label for="post_{{post.post_id}}_radio_{{value}}">★</label>
                </ng-container>
              </p>
            </form><span class="text-white">({{ null !== post.prom ? post.prom : '0' }}/5)</span>
            <!-- boton me gusta -->
            <button class="btn btn-link mr-2"><i class="fa fa-comments text-white"></i> <span class="text-white">Comentarios: {{ undefined !== post.comments ? post.comments.length : '0' }}</span></button>
            <!-- <button class="btn btn-link text-primary mr-2"><i class="fa fa-share text-success"></i> <span class="text">Compartir</span> <span class="text-white">(0)</span></button> -->
          </div>

          <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° COMENTARIOS °°°°°°°°°°°°°°°°°°°°°°°°°° -->
          <div class="list-unstyled comment-list">
            <ng-container *ngFor="let comment of post.comments;let j = index">
              <div class="media">
                <span class="message_userpic">
                  <img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image">
                </span>
                <div class="media-body">
                  <h6 class="mt-0 mb-1">{{comment.full_name}}
                    <small>{{comment.created_at}}</small>
                  </h6>
                  <textarea *ngIf="post.comments[j].ModoEditar == true"    class="form-control" id="comment_txt_{{comment.id_comment}}"
                  (keyup.esc)="post.comments[j].ModoEditar = false"
                  (keydown.enter) = "$event.stopPropagation(); guardarEdicionComentario(comment.id_comment,j,i)"
                  (blur)="post.comments[j].ModoEditar = false" >{{comment.content}}</textarea>
                  <p *ngIf="post.comments[j].ModoEditar !== true" id="comment_{{comment.id_comment}}" class="description" >{{ checkVerMas(post.comments[j].verMas , comment.content ) ?  comment.content.substring(1, 200) + '...' : comment.content }}<a class="btn btn-link" *ngIf="checkVerMas(post.comments[j].verMas , comment.content ) " (click)="post.comments[j].verMas = !post.comments[j].verMas" >Leer más</a>
                    <a class="btn btn-link" *ngIf="post.comments[j].verMas" (click)="post.comments[j].verMas = !post.comments[j].verMas" >Ver menos</a>
                  </p>
                  <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° Opciones Comentarios °°°°°°°°°°°°°°°°°°°°°°°°°° -->
                  <span *ngIf="post.comments[j].ModoEditar !== true" >
                    <button class="btn btn-outline-primary btn-round" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-star"></i>({{ comment.prom == null  ? '0' : comment.prom   }}/5)</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item comentario-estrellas-container">
                        <form class="form_clasificacion pull-right">
                          <p class="clasificacion">
                            <ng-container *ngFor="let value of [5,4,3,2,1]; let c = index" >
                              <input id="comment_{{comment.id_comment}}_radio_{{value}}" type="radio" name="estrellas_{{value}}" value="{{value}}" [checked]="comment.like >= value  ? 'checked' : ''" (click)="calificarElemento( comment.id_comment,i, 'comment',j, value)">
                              <label for="comment_{{comment.id_comment}}_radio_{{value}}">★</label>
                            </ng-container>
                          </p>
                        </form>
                      </a>
                    </div>
                  </span>
                  <span *ngIf="post.comments[j].ModoEditar !== true" >
                    <button class="btn btn-outline-primary btn-round" (click)="responderComentario(post,comment)"><i class="fa fa-replay"></i>Responder</button>
                  </span>
                  <span *ngIf="post.comments[j].ModoEditar !== true" >
                    <button class="btn btn-outline-primary btn-round opciones-comentario" data-toggle="dropdown">Más...</button>
                    <div class="dropdown-menu" *ngIf="post.comments[j].ModoEditar !== true" >
                      <ng-container *ngIf="comment.created_by == usuarioId">
                        <a class="dropdown-item" (click)="post.comments[j].ModoEditar = ! post.comments[j].ModoEditar;  setFocus('comment_txt_'+comment.id_comment) "> Editar</a>
                        <a class="dropdown-item" (click)="eliminarElementos(i,'comment',comment.id_comment,j)">Eliminar </a>
                        <div class="dropdown-divider"></div>
                      </ng-container>
                      <a class="dropdown-item" href="javascript:void(0)">Reportar</a>
                    </div>
                  </span>
                  <!-- estrellas para comentarios-->
                </div>
              </div>
              <ng-container *ngFor="let response of comment.responses;let k = index">
                <div class="media response_comment">
                  <span class="message_userpic">
                    <img class="d-flex mr-3" src="assets/img/user-header.png" alt="Generic user image">
                  </span>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">{{response.full_name}}
                      <small>{{response.create_at}}</small>
                    </h6>
                    <p id="response_{{response.id_comment}}" class="description" >{{response.content}}</p>
                  </div>
                </div>
              </ng-container>
              <hr>
            </ng-container>
            <div class="media comment"> <span class="message_userpic"><img class="d-flex mr-3" src="{{imagenPerfil}}" alt="Generic user image"> </span>
              <div class="media-body">
                <input type="text" name="comment_{{post.post_id}}" id="comment_txt_{{post.post_id}}" class="form-control" placeholder="Escribe un comentario">
              </div>
              <button class="btn btn-primary" (click)="comentar( 'comment_txt_' + post.post_id , 'comment' , post , i)">Comentar</button>
            </div>
          </div>
          <!--  °°°°°°°°°°°°°°°°°°°°°°°°°° COMENTARIOS °°°°°°°°°°°°°°°°°°°°°°°°°° -->
        </div>
        <div class="card-footer text-center"> <a class="btn btn-primary" href="javascript:void(0)">Ver mas comentarios</a> </div>
      </div>
    </div>
  </div>

</div>
