<div class="card full-screen-container amigos-container">
	<div class="card-header align-items-start justify-content-between flex">
		<h5 class="card-title  pull-left">Amigos <strong>({{numberFriends}})</strong></h5>
		<span *ngIf="buscarAmigos" class="pull-right"><button  [routerLink]="['/buscaramigos/']" class="btn btn-success ml-1">Buscar Amigos</button></span>
	</div>
	<div class="card-block">
		<div  class="list-unstyled member-list row" >
			<div 
				*ngFor="let amigo of friendItems; let f = index"
				app-tarjeta-amigo
				class="col-lg-4 col-sm-4 col-xs-16" 
				[idUsuario] = "amigo.idFriend"  
				[nombre] = "amigo.full_name"  
				[agregar] = "false"
				>
			</div>
		</div>
	</div>
</div> 