<header *ngIf="isAuth()" class="navbar-fixed hide">
  <app-barrasuperior></app-barrasuperior>
</header>
 
<div *ngIf="isAuth()" class="sidebar-left hide">
  <div class="user-menu-items">
    <div class="list-unstyled btn-group">
      <button class="media btn btn-link">
        <span class="message_userpic">
          <img class="d-flex mr-3" src="{{imagenPerfil}}" alt="Foto de Perfil">
        </span>
        <span class="media-body"> <span class="mt-0 mb-1">{{nombre}}</span>
        <span>Aguascalientes, MX.</span> </span>
      </button>
    </div> 
  </div>
  <ul class="nav flex-column in" id="side-menu">
    <li class="nav-item"> <a [ngClass]="getClass('inicio')" (click)="cambiarMenu('inicio')" [routerLink]="['/inicio/']" class="menudropdown nav-link">Últimas Noticias</a></li>
    <li class="nav-item"><a [ngClass]="getClass('profile')" (click)="cambiarMenu('profile')" [routerLink]="['/dashboard/'+getUsrId()]" class="menudropdown nav-link" >Mi Muro</a></li>
    <!-- <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Eventos<i class="fa fa-angle-down "></i></a></li> -->
    <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Grupos <i class="fa fa-angle-down"></i></a>
      <ul class="nav flex-column nav-second-level">
        <li class="nav-item"><a [ngClass]="getClass('mygroup')" (click)="cambiarMenu('mygroup')" class="nav-link" [routerLink]="['/mygroup/']" >Sugerencias</a></li>
        <li class="nav-item"><p class="nav-link bold-title">Grupos que administras</p></li>
        <ul class="nav-third-level">
          <ng-container *ngFor="let adminGrupo of adminGruposItems; let i = index" > 
            <li class="nav-item" ><a [ngClass]="getClass('admingroupDash/'+adminGrupo.idGroup)" (click)="cambiarMenu('admingroupDash/'+adminGrupo.idGroup)" class="nav-link" [routerLink]="['/groupDash/'+adminGrupo.idGroup]">{{adminGrupo.nameGroup}}
            </a></li>
          </ng-container>
        </ul>
        <li class="nav-item"><a [ngClass]="getClass('group')" (click)="cambiarMenu('group')" class="nav-link"  [routerLink]="['/group/']" [queryParams]="{debug: true}"  > Crear grupo <span class=" fa fa-plus"></span></a></li>
        <li class="nav-item"><p class="nav-link bold-title" >Grupos en los que estás</p></li>
        <ul class="nav-third-level">
          <ng-container *ngFor="let miGrupo of misGruposItems; let j = index" > 
            <li class="nav-item"><a [ngClass]="getClass('groupDash/'+miGrupo.idGroup)" (click)="cambiarMenu('groupDash/'+miGrupo.idGroup)" class="nav-link" [routerLink]="['/groupDash/'+miGrupo.idGroup]" > {{miGrupo.nameGroup}} </a></li>
          </ng-container>
        </ul>
      </ul>
    </li>
  </ul>
</div>
<div class="wrapper-content" [@routeAnimations]="getRouterOutletState(outlet)" >
  <router-outlet #outlet="outlet"></router-outlet>
</div>