<!--<div class="card full-screen-container ">
  <div class="card-header align-items-start justify-content-between flex">
    <h5 class="card-title  pull-left">Gestionar miebros</h5>
  </div>
  <div class="card-block">
    <div  class="list-unstyled member-list row" >
     <div *ngFor="let miembroGestion of miembrosGestionItems; let f = index"
     app-tarjeta-grupo
     class="col-lg-4 col-sm-4 col-xs-16" 
     [idGrupo] = "miembroGestion.idGroup"  
     [nombre] = "miembroGestion.nameGroup" 
     [solicitudEnviada] = "miembroGestion.aceptada == 0" 
     [agregar] = "true"
     >
   </div>
 </div>
</div>
</div> -->